.intro-container {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 100000000000000;
}

.intro-screen-child {
  height: 100%;
}

.intro-in {
  animation: intro-fade-in 3s ease-out;
}
.intro-out {
  animation: intro-fade-out 2s ease-out;
}
.intro-logo {
  position: relative;
  text-align: center;
  display: block;
  margin: auto;
  height: 100%;
}

.intro-logo svg {
  fill: #28aec5;
  animation: spin 8s linear infinite;
  position: absolute;
  display: block;
  margin: auto;
  left: calc(50% - 250px);
  top: calc(50% - 350px);
}

.dsg-intro-title {
  color: #28aec5;
  text-align: center;
  font-size: 5vw;
}

@keyframes intro-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
