.form-group {
  color: var(--font-color);
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
form {
  margin: auto;
  display: block;
  width: 100%;
}
.update-form {
  display: block;
}

.form-label {
  font-size: 25px;
  font-weight: bold;
  min-width: 100px;
  background-color: var(--label-background);
  color: var(--font-color);
  border: 5px inset var(--secondary);
  width: calc(100% - 20px);
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form-label label {
  margin-top: 8px;
  display: block;
}
.form-input {
  
  width: calc(100% - 20px);
  box-shadow: var(--box-shadow);
  border: 5px inset var(--secondary);
}
form input {
  color: var(--font-color);
  font-family: var(--font-family);
  display: block;
  background-color: var(--input-background);
  margin-right: auto;
  outline: none;
  border: none;
  padding-left: 10px;
  width: 100%;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
form input:focus {
  outline: none;
}
form button {
  padding: 20px;
  color: var(--font-color);
  display: block;
  border: 6px inset var(--secondary);
  background-color: var(--main-dark);
  transition: 0.5s;
  box-shadow: var(--box-shadow);
  min-width: 200px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-left : 15px;
  margin-right : 15px;
  font-family: var(--font-family);
}
form button:hover {
  cursor: pointer;
  color: var(--main-dark);
  background-color: var(--secondary);
  transition: 0.5s;
}
form textarea.data-display {
  width: 90%;
  margin-left: 5%;
}
form textarea {
  color: var(--font-color);
  border: 1px inset var(--main);
  background-color: var(--input-background);
  font-size: 14px;
  border: 1px inset var(--secondary);
  border-radius: 7px;
  padding: 5px;
  box-shadow: var(--box-shadow);
}
form textarea:focus {
  outline: none;
}
.form-text {
  text-align: left;
  margin-left: 10px;
  color: var(--font-color);
  font-weight: bold;
}

.form-title {
  text-align: left;
  margin-left: 10px;
  color: var(--font-color);
}
.vform-optin-group {
  border: 1px inset var(--main);
  margin-bottom: 10px;
}
.vform-optin-group .form-option {
  text-align: left;
  padding-left: 10px;
}
.hform-optin-group {
  border: 1px inset var(--main);
  display: flex;
  margin-bottom: 10px;
}
.hform-optin-group .form-option {
  width: 100%;
}
.form-option {
  border: 1px inset var(--secondary);
  color: var(--font-color);
  transition: 0.5s;
  text-align: center;
  padding: 0;
  background-color: var(--input-background);
}
.form-option:hover {
  background-color: var(--label-background);
  cursor: pointer;
  transition: 0.5s;
}
.form-option.active {
  background-color: var(--label-background);
  transition: 0.5s;
}
[type="file"] {
  display: none;
}
.image-display {
  width: 110px;
  height: 110px;
  background-color: var(--main);
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  box-shadow: var(--box-shadow);
}

.pixel-image-display {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  display: block;
}

.color-display {
  border: 1px solid var(--main);
  padding: 5px;
  width: 100px;
  height: 10px;
  margin: auto;
  box-shadow: var(--box-shadow);
}

.form-button-group {
  display: flex;
}
