.item-list {
  height: 100%;
}

.item-list-item {
  border: 1px solid var(--secondary);
  background: var(--main-dark);
  box-shadow: var(--box-shadow);
  margin: auto;
  width: 90%;;
  margin-bottom: 30px;
}

.item-list-data {
  padding: 5px;
}

.item-list-buttons {
  display: flex;
  border-top: 1px solid var(--secondary-dark);
}

.item-list-button {
  display: inline;
  border: 1px solid var(--secondary);
  background: var(--main-dark);
  color: var(--font-color);
  font-family: var(--font-fmaily);
  transition: 0.5s;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.item-list-button:hover {
  background: var(--font-color);
  color: var(--main-dark);
  font-family: var(--font-fmaily);
  transition: 0.5s;
  cursor: pointer;
}

.item-list-title {
  font-family: var(--font-fmaily);
  color: var(--font-color);

}

.item-list-description {
  font-family: var(--font-fmaily);
  color: var(--font-color);
}
